<app-encabezado [nivel1]="txt_nivel1" [nivel2]="txt_nivel2" [nivel3]="txt_nivel3" [titulo]="txt_titulo"
    [subtitulo]="txt_subtitulo">
</app-encabezado>


<div class="card-body">
    <div class="card mb-3">
        <div class="card-body">
            <!-- Inline Form -->            
            <div class="d-md-flex align-items-baseline mt-3">             
                <h5 class="card-title">
                    Administración de periodos de matriculación para la unidad de titulacion
                </h5>
                <div class="d-flex align-items-center gap-1 text-nowrap ms-auto">
                    <button type="button" class="btn btn-info hstack gap-2"
                    data-bs-toggle="modal" data-bs-target="#modal-agregar-periodo">
                        <i class="demo-psi-add fs-4"></i>
                        <span class="vr"></span>
                        Agregar periodo de matriculación
                    </button>
                </div>
            </div>

            <div class="d-md-flex align-items-baseline mt-3 mb-3">     
                <div class="col-sm-9">
                    <div class="form-check form-check-inline ">
                        <input id="_dm-inlineRadio3" class="form-check-input" type="radio" name="inlineRadioOptions" value="option1">
                        <label for="_dm-inlineRadio3" class="form-check-label">Vigentes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="_dm-inlineRadio2" class="form-check-input" type="radio" name="inlineRadioOptions" value="option2">
                        <label for="_dm-inlineRadio2" class="form-check-label">Ver historial de periodos de matrícula</label>
                    </div>
                </div>     
            </div>   
                    
          

            <!-- Tabla informativa -->
            <div class="table-responsive">
                <!-- <table class="table table-striped"> -->
                <table class="mat-elevation-z3 table table-striped-columns">
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>Periodo</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- INICIO MODAL EDITAR ASIGNACION -->
<div class="modal" tabindex="-1" id="modal-agregar-periodo">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: large; font-weight: 400">Agregar periodo de matriculación de titulación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">


                <!-- Inline Form -->
              
                <div class="row-cols-md-auto g-3 align-items-center">
                    <div class="col-8">


                        
                        <label for="_dm-staticEmail">Periodo </label>
                        
                        <div class="row mt-2">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label"><strong
                                            class="m-1">Periodo de titulación</strong></label>

                                            <!-- <span>{{periodo.fechaFin}}</span> -->
                                            
                                    <select id="inputState2" class="form-select"  (change)="seleccionarPeriodo($event)">
                                        <option value="" selected disabled>Seleccione un periodo</option>
                                        <option 
                                        *ngFor="let periodo of vPeriodosVigentestitulacion" [value]="periodo.periodoId">{{periodo.descripcion}}</option>
                                      </select>
                                </div>
                            </div>
                        </div>

                        <label for="_dm-staticEmail">Fecha Inicio / Fecha Fin </label>
                        
                        <div class="row mt-2">
                            <div class="col-6">
                                <label for="fechaIngreso" class="form-label">
                                    <strong class="m-1">Fecha Inicio</strong>
                                </label>
                                <input type="date" class="form-control" name="fechaInicio" #FechaInicio="ngModel"
                                    [(ngModel)]="fechaInicioSeleccionada" />
                            </div>
                        
                            <div class="col-6">
                                <label for="horaIngreso" class="form-label">
                                    <strong class="m-1">Hora de inicio</strong>
                                </label>
                                <input type="time" class="form-control" name="horaInicio" #HoraInicio="ngModel"
                                    [(ngModel)]="horaInicioSeleccionada" />
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <label for="fechaFin" class="form-label">
                                    <strong class="m-1">Fecha Fin</strong>
                                </label>
                                <input type="date" class="form-control" name="fechaFin" #FechaFin="ngModel"
                                    [(ngModel)]="fechaFinSeleccionada" />
                            </div>
                        
                            <div class="col-6">
                                <label for="horaIngreso" class="form-label">
                                    <strong class="m-1">Hora Fin</strong>
                                </label>
                                <input type="time" class="form-control" name="horaFin" #HoraFin="ngModel"
                                    [(ngModel)]="horaFinSeleccionada" />
                            </div>
                        </div>                       
  
                         </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- FINAL MODAL EDITAR ASIGNACION -->