
<app-encabezado-inicio 
[titulo]="txt_titulo" [subtitulo]="txt_subtitulo">
</app-encabezado-inicio>


<div class="content__boxed">
    <div class="content__wrap">                        
            <!-- Contenido del cuerpo -->
            <div class="card">
                    <div class="card-header">
                        <span> espacio en blanco </span>
                        <p>inicio works!</p>  
                    </div>                        
            </div>
            <!-- Fin de Contenido del cuerpo -->                        
    </div>
</div>